## Data driven cricket analysis

Setting up dependencies

In [1]:
%matplotlib inline

import pandas as pd
pd.set_option('precision', 2)

In [2]:
batsman_innings = pd.read_pickle('summary_pickles/batsman_innings.pkl')
batsman_year = pd.read_pickle('summary_pickles/batsman_year.pkl')
bowler_spells = pd.read_pickle('summary_pickles/bowler_spells.pkl')
bowler_year = pd.read_pickle('summary_pickles/bowler_year.pkl')
bowling_overall = pd.read_pickle('summary_pickles/bowling_overall.pkl')
batting_overall = pd.read_pickle('summary_pickles/batting_overall.pkl')
chasing_under_pressure = pd.read_pickle('summary_pickles/chasing_under_pressure.pkl')
first_inning_bat = pd.read_pickle('summary_pickles/first_inning_bat.pkl')
second_inning_bat = pd.read_pickle('summary_pickles/second_inning_bat.pkl')
first_inning_first_6 = pd.read_pickle('summary_pickles/first_inning_first_6.pkl')
first_inning_middle_9 = pd.read_pickle('summary_pickles/first_inning_middle_9.pkl')
first_inning_last_4 = pd.read_pickle('summary_pickles/first_inning_last_4.pkl')

### Looking up all innings of a batsman

In [3]:
batsman_name = 'kohli'
batsman_innings[batsman_innings.batsman_name.str.contains(batsman_name.title())]

,batsman_name,date,runs_scored,num_out,balls_faced,num_fours,num_sixes,num_dots,year,strike_rate
7558,Virat Kohli,2010-06-12,26,0,21,3,1,9,08-10,123.81
7559,Virat Kohli,2011-01-09,28,1,19,5,0,6,11-13,147.37
7560,Virat Kohli,2011-06-04,14,1,12,2,0,4,11-13,116.67
7561,Virat Kohli,2011-08-31,4,1,5,0,0,2,11-13,80.00
7562,Virat Kohli,2011-10-29,15,1,16,3,0,10,11-13,93.75
7563,Virat Kohli,2012-02-01,22,1,22,0,1,7,11-13,100.00
7564,Virat Kohli,2012-02-03,31,1,25,3,0,6,11-13,124.00
7565,Virat Kohli,2012-08-07,68,1,50,11,1,21,11-13,136.00
7566,Virat Kohli,2012-09-11,70,1,41,10,1,9,11-13,170.73
7567,Virat Kohli,2012-09-19,50,1,39,4,2,12,11-13,128.21
7568,Virat Kohli,2012-09-23,40,1,32,6,0,11,11-13,125.00
7569,Virat Kohli,2012-09-28,15,1,13,2,0,4,11-13,115.38
7570,Virat Kohli,2012-09-30,78,0,61,8,2,20,11-13,127.87
7571,Virat Kohli,2012-10-02,2,1,6,0,0,5,11-13,33.33
7572,Virat Kohli,2012-12-20,21,1,18,2,0,4,11-13,116.67
7573,Virat Kohli,2012-12-22,38,1,22,7,0,7,11-13,172.73
7574,Virat Kohli,2012-12-25,9,1,11,1,0,5,11-13,81.82
7575,Virat Kohli,2012-12-28,27,0,22,3,0,5,11-13,122.73
7576,Virat Kohli,2013-10-10,29,1,23,2,1,8,11-13,126.09
7577,Virat Kohli,2014-03-21,36,0,34,4,1,17,14-16,105.88
7578,Virat Kohli,2014-03-23,54,1,42,5,1,10,14-16,128.57
7579,Virat Kohli,2014-03-28,57,0,53,3,1,14,14-16,107.55
7580,Virat Kohli,2014-03-30,23,1,23,2,1,13,14-16,100.00
7581,Virat Kohli,2014-04-04,72,0,46,5,2,5,14-16,156.52
7582,Virat Kohli,2014-04-06,77,1,59,5,4,19,14-16,130.51
7583,Virat Kohli,2014-09-07,66,1,42,9,1,10,14-16,157.14
7584,Virat Kohli,2015-10-02,43,1,31,1,3,6,14-16,138.71
7585,Virat Kohli,2015-10-05,1,1,1,0,0,0,14-16,100.00
7586,Virat Kohli,2016-01-26,90,0,57,9,2,13,14-16,157.89
7587,Virat Kohli,2016-01-29,59,1,33,7,1,6,14-16,178.79
7588,Virat Kohli,2016-01-31,50,1,37,2,1,9,14-16,135.14
7589,Virat Kohli,2016-02-24,7,1,13,1,0,10,14-16,53.85
7590,Virat Kohli,2016-02-27,49,1,52,7,0,29,14-16,94.23
7591,Virat Kohli,2016-03-01,56,0,47,7,0,13,14-16,119.15

### Look at a batsman's progression over the years

In [4]:
batsman_name = 'kohli'
batsman_year[batsman_year.batsman_name.str.contains(batsman_name.title())]

,batsman_name,year,runs_scored,balls_faced,num_fours,num_sixes,num_dots,num_out,num_innings,team,average,runs_per_inning,strike_rate,impact,prop_dot,balls_per_six,balls_per_boundary,prop_run_boundary,prop_run_six
1408,Virat Kohli,08-10,26,21,3,1,9,0,1,India,26.00,26.00,123.81,3219.05,42.86,21.00,5.25,69.23,23.08
1409,Virat Kohli,11-13,561,437,69,8,146,16,18,India,35.06,31.17,128.38,4001.03,33.41,54.62,5.68,57.75,8.56
1410,Virat Kohli,14-16,740,570,67,18,174,10,15,India,74.00,49.33,129.82,6404.68,30.53,31.67,6.71,50.81,14.59

In [5]:
batsman_name = 'yuvraj'
batsman_year[batsman_year.batsman_name.str.contains(batsman_name.title())]

,batsman_name,year,runs_scored,balls_faced,num_fours,num_sixes,num_dots,num_out,num_innings,team,average,runs_per_inning,strike_rate,impact,prop_dot,balls_per_six,balls_per_boundary,prop_run_boundary,prop_run_six
1447,Yuvraj Singh,05-07,179,103,10,15,36,4,6,India,44.75,29.83,173.79,5184.63,34.95,6.87,4.12,72.63,50.28
1448,Yuvraj Singh,08-10,376,278,23,23,110,14,15,India,26.86,25.07,135.25,3390.31,39.57,12.09,6.04,61.17,36.70
1449,Yuvraj Singh,11-13,313,219,20,21,83,9,11,India,34.78,28.45,142.92,4066.79,37.90,10.43,5.34,65.81,40.26
1450,Yuvraj Singh,14-16,189,201,15,9,103,9,11,India,21.00,17.18,94.03,1615.60,51.24,22.33,8.38,60.32,28.57

### Looking up all performances of a bowler

In [6]:
bowler_name = 'ashwin'
bowler_spells[bowler_spells.bowler_name.str.contains(bowler_name.title())]

,bowler_name,date,runs_conceded,wickets_taken,balls_bowled,num_dots,year,economy_rate
4005,Ravichandran Ashwin,2010-06-12,22,1,24,9,08-10,5.50
4006,Ravichandran Ashwin,2010-06-13,46,1,26,7,08-10,10.62
4007,Ravichandran Ashwin,2011-01-09,31,1,26,10,11-13,7.15
4008,Ravichandran Ashwin,2011-06-04,29,1,25,17,11-13,6.96
4009,Ravichandran Ashwin,2011-08-31,33,0,27,10,11-13,7.33
4010,Ravichandran Ashwin,2011-10-29,19,0,25,13,11-13,4.56
4011,Ravichandran Ashwin,2012-02-01,34,1,24,10,11-13,8.50
4012,Ravichandran Ashwin,2012-02-03,22,0,25,9,11-13,5.28
4013,Ravichandran Ashwin,2012-03-30,33,1,24,5,11-13,8.25
4014,Ravichandran Ashwin,2012-08-07,21,2,25,11,11-13,5.04
4015,Ravichandran Ashwin,2012-09-11,33,0,19,3,11-13,10.42
4016,Ravichandran Ashwin,2012-09-19,18,2,26,12,11-13,4.15
4017,Ravichandran Ashwin,2012-09-28,31,0,24,13,11-13,7.75
4018,Ravichandran Ashwin,2012-09-30,15,2,25,13,11-13,3.60
4019,Ravichandran Ashwin,2012-10-02,26,1,25,7,11-13,6.24
4020,Ravichandran Ashwin,2012-12-20,33,1,24,11,11-13,8.25
4021,Ravichandran Ashwin,2012-12-22,38,0,24,7,11-13,9.50
4022,Ravichandran Ashwin,2012-12-28,28,1,24,7,11-13,7.00
4023,Ravichandran Ashwin,2013-10-10,39,0,13,4,11-13,18.00
4024,Ravichandran Ashwin,2014-03-21,23,0,24,12,14-16,5.75
4025,Ravichandran Ashwin,2014-03-23,23,1,25,11,14-16,5.52
4026,Ravichandran Ashwin,2014-03-28,15,2,24,15,14-16,3.75
4027,Ravichandran Ashwin,2014-03-30,10,4,21,16,14-16,2.86
4028,Ravichandran Ashwin,2014-04-04,21,3,25,14,14-16,5.04
4029,Ravichandran Ashwin,2014-04-06,28,1,24,13,14-16,7.00
4030,Ravichandran Ashwin,2014-09-07,37,0,24,6,14-16,9.25
4031,Ravichandran Ashwin,2015-10-02,25,3,25,10,14-16,6.00
4032,Ravichandran Ashwin,2015-10-05,24,3,24,13,14-16,6.00
4033,Ravichandran Ashwin,2016-01-26,27,2,25,9,14-16,6.48
4034,Ravichandran Ashwin,2016-01-29,24,2,26,13,14-16,5.54
4035,Ravichandran Ashwin,2016-01-31,35,1,25,7,14-16,8.40
4036,Ravichandran Ashwin,2016-02-09,13,2,18,9,14-16,4.33
4037,Ravichandran Ashwin,2016-02-12,12,3,25,13,14-16,2.88
4038,Ravichandran Ashwin,2016-02-14,8,4,24,17,14-16,2.00
4039,Ravichandran Ashwin,2016-02-24,23,1,24,9,14-16,5.75
4040,Ravichandran Ashwin,2016-02-27,16,0,19,9,14-16,5.05
4041,Ravichandran Ashwin,2016-03-01,23,4,27,13,14-16,5.11

### Looking up how a bowler has progressed over the years

In [7]:
bowler_name = 'ashwin'
bowler_year[bowler_year.bowler_name.str.contains(bowler_name.title())]

,bowler_name,year,runs_conceded,balls_bowled,wickets_taken,num_dots,num_spells,team,average,wickets_per_spell,strike_rate,economy_rate,prop_dot
751,Ravichandran Ashwin,08-10,68,50,2,16,2,India,34.00,1.00,25.00,8.16,32.00
752,Ravichandran Ashwin,11-13,483,405,13,162,17,India,37.15,0.76,31.15,7.16,40.00
753,Ravichandran Ashwin,14-16,387,429,36,209,18,India,10.75,2.00,11.92,5.41,48.72

In [8]:
bowler_name = 'jadeja'
bowler_year[bowler_year.bowler_name.str.contains(bowler_name.title())]

,bowler_name,year,runs_conceded,balls_bowled,wickets_taken,num_dots,num_spells,team,average,wickets_per_spell,strike_rate,economy_rate,prop_dot
754,Ravindra Jadeja,08-10,226,190,4,79,9,India,56.50,0.44,47.50,7.14,41.58
755,Ravindra Jadeja,11-13,118,115,3,50,6,India,39.33,0.50,38.33,6.16,43.48
756,Ravindra Jadeja,14-16,365,340,18,153,16,India,20.28,1.12,18.89,6.44,45.00

In [9]:
bowler_name = 'starc'
bowler_year[bowler_year.bowler_name.str.contains(bowler_name.title())]

,bowler_name,year,runs_conceded,balls_bowled,wickets_taken,num_dots,num_spells,team,average,wickets_per_spell,strike_rate,economy_rate,prop_dot
596,Mitchell Starc,11-13,230,247,15,128,10,Australia,15.33,1.5,16.47,5.59,51.82
597,Mitchell Starc,14-16,239,233,12,133,10,Australia,19.92,1.2,19.42,6.15,57.08

### Best batsmen batting first

In [10]:
min_balls = 100
sort_by = 'average'
top_n = 15
first_inning_bat[first_inning_bat.balls > min_balls].sort_values(sort_by, ascending=False).head(top_n)

                    runs_batter  balls  wicket  average  strike_rate
batsman_name
Matt Machan                 224    190       3    74.67       117.89
Aaron Finch                 462    270       7    66.00       171.11
Andrew Symonds              292    173       5    58.40       168.79
Ed Joyce                    160    151       3    53.33       105.96
Devon Smith                 159    133       3    53.00       119.55
Mahela Jayawardene          975    721      20    48.75       135.23
Alexei Kervezee             143    125       3    47.67       114.40
Hamilton Masakadza          805    658      17    47.35       122.34
Hiral Patel                 142    118       3    47.33       120.34
Misbah-ul-Haq               370    327       8    46.25       113.15
Adnan Ilyas                 185    149       4    46.25       124.16
Faf du Plessis              641    476      14    45.79       134.66
Rohit Sharma                715    536      16    44.69       133.40
Lahiru Thirimanne           175    142       4    43.75       123.24
Jeevan Mendis               168    133       4    42.00       126.32

### Best batsmen batting second

In [11]:
min_balls = 100
sort_by = 'average'
top_n = 10
second_inning_bat[second_inning_bat.balls > min_balls].sort_values(sort_by, ascending=False).head(top_n)

                  runs_batter  balls  wicket  average  strike_rate
batsman_name
Matthew Hayden            266    183       2   133.00       145.36
Virat Kohli               717    564       9    79.67       127.13
Ashish Bagai              131    120       2    65.50       109.17
Richard Levi              176    115       3    58.67       153.04
Quinton de Kock           173    143       3    57.67       120.98
MS Dhoni                  398    335       7    56.86       118.81
Kane Williamson           562    436      11    51.09       128.90
Kumar Sangakkara          674    605      14    48.14       111.40
Michael Hussey            421    318       9    46.78       132.39
Joe Root                  138    105       3    46.00       131.43

### Best batsmen in first 6 overs

In [12]:
min_balls = 60
sort_by = 'strike_rate'
top_n = 10
first_inning_first_6[first_inning_first_6.balls > min_balls].sort_values(sort_by, ascending=False).head(top_n)

                  runs_batter  balls  wicket  strike_rate  average
batsman_name
Joe Root                  100     62       1       161.29   100.00
Aaron Finch               196    122       3       160.66    65.33
Anton Devcich             101     67       1       150.75   101.00
Kevin Pietersen           246    168       2       146.43   123.00
Mohammad Shahzad          411    291      14       141.24    29.36
Kane Williamson           168    121       2       138.84    84.00
Kusal Perera              266    192       6       138.54    44.33
Alex Hales                285    214       7       133.18    40.71
Shakib Al Hasan           148    113       5       130.97    29.60
Hashim Amla               283    218       8       129.82    35.38

In [13]:
min_balls = 60
sort_by = 'strike_rate'
top_n = 10
first_inning_first_6[first_inning_first_6.balls > min_balls].sort_values(sort_by, ascending=False).head(top_n)

                  runs_batter  balls  wicket  strike_rate  average
batsman_name
Joe Root                  100     62       1       161.29   100.00
Aaron Finch               196    122       3       160.66    65.33
Anton Devcich             101     67       1       150.75   101.00
Kevin Pietersen           246    168       2       146.43   123.00
Mohammad Shahzad          411    291      14       141.24    29.36
Kane Williamson           168    121       2       138.84    84.00
Kusal Perera              266    192       6       138.54    44.33
Alex Hales                285    214       7       133.18    40.71
Shakib Al Hasan           148    113       5       130.97    29.60
Hashim Amla               283    218       8       129.82    35.38

### Best batsmen in middle 9 overs

In [14]:
min_balls = 60
sort_by = 'strike_rate'
top_n = 15
first_inning_middle_9[first_inning_middle_9.balls > min_balls].sort_values(sort_by, ascending=False).head(top_n)

                  runs_batter  balls  wicket  strike_rate  average
batsman_name
Aaron Finch               165     96       2       171.88    82.50
Shane Watson              275    161       7       170.81    39.29
Glenn Maxwell             136     81       5       167.90    27.20
Jesse Ryder               104     63       3       165.08    34.67
Dwayne Smith              154     95       6       162.11    25.67
Malcolm Waller            180    112       2       160.71    90.00
Andrew Symonds            159    100       3       159.00    53.00
Justin Ontong             103     65       4       158.46    25.75
Chris Gayle               371    249       5       149.00    74.20
Brendon McCullum          496    336      13       147.62    38.15
David Warner              263    179       9       146.93    29.22
Kevin Pietersen           333    227      12       146.70    27.75
Faf du Plessis            331    230       5       143.91    66.20
Nasir Jamshed             128     89       4       143.82    32.00
Kamran Akmal              257    184       9       139.67    28.56

### Best batsmen in last 4 overs

In [15]:
min_balls = 60
sort_by = 'strike_rate'
top_n = 15
first_inning_last_4[first_inning_last_4.balls > min_balls].sort_values(sort_by, ascending=False).head(top_n)

                      runs_batter  balls  wicket  strike_rate  average
batsman_name
Brendon McCullum              179     73       4       245.21    44.75
Yuvraj Singh                  210     99      10       212.12    21.00
Eoin Morgan                   226    114       8       198.25    28.25
Tillakaratne Dilshan          194     98       7       197.96    27.71
Luke Wright                   135     69       5       195.65    27.00
AB de Villiers                203    105       7       193.33    29.00
David Hussey                  204    107       8       190.65    25.50
Shafiqullah                   117     62       5       188.71    23.40
Marlon Samuels                218    119       8       183.19    27.25
Jean-Paul Duminy              321    179      13       179.33    24.69
Rohit Sharma                  156     87       4       179.31    39.00
Kumar Sangakkara              138     77       5       179.22    27.60
Thisara Perera                271    153       6       177.12    45.17
Paul Collingwood              115     66       9       174.24    12.78
Angelo Mathews                350    203      14       172.41    25.00

- Add modes of dismissal [done]
- Batsmen details by batting positions [done]
- Team level details in addition to individual level details
- Ground/conditions